.workflow {
                   
}
.img {
    display: flex;
    margin: .2em;
    border: 1px solid black;
    border-radius: var(--b-radius);
    overflow: hidden;
    text-align: center;
}
.img_1 img{
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    
}
.img_2 {
    flex-direction: row-reverse;
}
.img_2 img{
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);

    flex-direction: row-reverse;
}
.img_3 img{
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    
}
.img_4 .img_description {
    display: flex;
    gap: .2em;
    align-items: center;
    width: 100%;

    background-image: url('../../../../public/images/placeholders/production-01.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.img_description {
    padding: 1.2em;
    
}

.img_description p {
    padding: .2em;
}