
.card {
    height: 30em;
    width: 100%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: var(--b-radius);
    overflow: hidden;
  }
  
   /*Image*/
  .card_image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #0a3394;
    background: linear-gradient(to top, #0a3394, #4286f4);
  }
  
  /*Description */
  .card_description {
    display: flex;
    position: absolute;
    gap: .5em;
    flex-direction: column;
    background-color: var(--dimmer-2);
    opacity: 0.96;

    color: var(--text);
    width: 100%;
    height: 60%;
    bottom: 0;
    border-radius: var(--b-radius);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1em;
  }
  
  /*Text*/
  .text_title {
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .text_body {
    line-height: 130%;
  }
  
  
  /* Hover states */
  .card:hover .card_description {
    transform: translateY(100%);
  }

@media (max-width:900px) {

  .text_title {
    font-size: 1rem;
    font-weight: 700;
  }
  
  .text_body {
    font-size: .8rem;
    line-height: 130%;
  }
  
}

  @media (max-width:600px) {

    .card {
      height: 25em;
      width: 100%;
      position: relative;
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      border-radius: var(--b-radius);
      overflow: hidden;
    }
    
}
  
  