
.home {

}
.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .6em;
    padding: .6em;
    background-image: url('./../../../public/images/placeholders/production-01.jpeg');
}


@media (max-width:600px) {
    .home {
    }
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .4em;
        padding: .1em;
    }
}