.banner {
    position: absolute;
    text-align: center;
    height: 100vh;
    width: 100vw;

    font-size: 1.4rem;
    font-family: 'Montserrat Alternates', sans-serif;
    /* border-radius: var(--b-radius); */
    letter-spacing: 1pt;
    padding: 2em 5em;
    /* background-color: rgba(0, 0, 0, 0.818); */
    overflow: scroll;
    z-index: 10;
}

.title {
    font-size: 8rem;
    font-weight: bold;
    font-family: 'Bodoni Moda', serif;
    text-shadow: 2px 2px 25px black;
    padding: .2em .2em;
    /* border-radius: var(--b-radius); */
    border-top: 1px solid var(--acc-2);
    border-bottom: 1px solid var(--acc-2);
    background-color: var(--dimmer-2);
    

}

.subtitle {
    padding: .6em .2em;
    font-size: 2.6rem;
    font-weight: 500;
    /* border: 2px solid var(--acc-2); */
    border-top: 2px solid var(--acc-2);
    border-bottom: 2px solid var(--acc-2);
    text-shadow: 2px 2px 25px black;

    background-color: var(--dimmer);
    scale: 1.05;

}
.pdiv {
    background-color: var(--dimmer-2);
    padding: .2em 8em;
    text-align: center;
    text-shadow: 2px 2px 25px black;
    color: var(--bg);
    /* border-radius: var(--b-radius); */
    border-top: 1px solid var(--acc-2);
    border-bottom: 1px solid var(--acc-2);    
}


