.banner {
    position: absolute;
    text-align: center;
    height: 90vh;
    /* width: 100vw; */
    font-size: 1.4rem;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 1pt;
    padding: 2em 5em;
    overflow: hidden;
    z-index: 10;
}

.title_box {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1.4em;
    border-top: 1px solid var(--acc-2);
    border-bottom: 1px solid var(--acc-2);
    background-color: var(--dimmer);
    scale: 1.05;
    padding: .2em .1em;

}

.logo {
    max-height: 320px;
    max-width: 190px;
    z-index: 1;
    padding: .4em;
    
}
.logo_image {
    object-fit: cover;
}

.title {
    font-size: 7rem;
    font-weight: bold;
    font-family:  'Bodoni Moda', 'Cormorant','Montserat', monospace, serif;
    text-shadow: 2px 2px 25px black;
    padding: 0em .01em;
    letter-spacing: 3pt;

}

.subtitle {
    position: relative;
    padding: .6em .2em;
    font-size: 2rem;
    font-weight: 500;
    border-top: 2px solid var(--acc-2);
    border-bottom: 2px solid var(--acc-2);
    text-shadow: 2px 2px 25px black;
    background-color: var(--dimmer-2);
}

.pdiv {
    font-size: 1.2rem;
    background-color: var(--dimmer-2);
    padding: 1em 4.8em;
    text-align: center;
    text-shadow: 2px 2px 25px black;
    color: var(--bg);
    border-top: 1px solid var(--acc-2);
    border-bottom: 1px solid var(--acc-2);    
}


@media (max-width:900px) {

    .banner {
        position: absolute;
        text-align: center;
        height: 90vh;
        width: 100vw;
        font-size: 1.4rem;
        font-family: 'Montserrat Alternates', sans-serif;
        letter-spacing: 1pt;
        padding: 2em 3em;
        overflow: hidden;
        z-index: 10;
    }
    
    .title_box {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: .3em;
        border-top: 1px solid var(--acc-2);
        border-bottom: 1px solid var(--acc-2);
        background-color: var(--dimmer);
        scale: 1.05;
        padding: .2em .1em;
    
    }
    
    .logo {
        max-height: 120px;
        max-width: 90px;
        z-index: 1;
        padding: .4em;
        
    }
    .logo_image {
        object-fit: cover;
    }
    

    .title {
        font-size: 3.5rem;
        font-weight: bold;
        font-family:  'Bodoni Moda', 'Cormorant','Montserat', monospace, serif;
        text-shadow: 2px 2px 25px black;
        padding: 0em .01em;
    
    }
    
    .subtitle {
        padding: .6em .2em;
        font-size: 1.2rem;
        font-weight: 500;
        border-top: 2px solid var(--acc-2);
        border-bottom: 2px solid var(--acc-2);
        text-shadow: 2px 2px 25px black;
        background-color: var(--dimmer-2);
    }
    
    .pdiv {
        font-size: .8rem;
        background-color: var(--dimmer-2);
        padding: 1em 4.8em;
        text-align: center;
        text-shadow: 2px 2px 25px black;
        color: var(--bg);
        border-top: 1px solid var(--acc-2);
        border-bottom: 1px solid var(--acc-2);    
    }
}

@media (max-width:600px) {

    .banner {
        display: flex;
        flex-direction: column;
        align-content: center;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        height: 80vh;
        width: 100vw;
    
        font-size: 0.8rem;
        font-family: 'Montserrat Alternates', sans-serif;
        letter-spacing: 1pt;
        padding: 1.2em 1.1em;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }
    
    .title_box {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: .3em;
        border-top: 1px solid var(--acc-2);
        border-bottom: 1px solid var(--acc-2);
        background-color: var(--dimmer);
        scale: 1.05;
        padding: .2em .1em;
    
    }
    
    .logo {
        max-height: 90px;
        max-width: 42px;
        z-index: 1;
        /* padding: .4em; */
        /* margin-left: 1em; */
        
    }
    .logo_image {
        object-fit: cover;
    }
    

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        font-family:  'Bodoni Moda', 'Cormorant','Montserat', monospace, serif;
        text-shadow: 2px 2px 25px black;
        padding: 0em .01em;
    
    }
    
    .subtitle {
        padding: .6em .2em;
        font-size: 0.8rem;
        font-weight: 500;
        border-top: 2px solid var(--acc-2);
        border-bottom: 2px solid var(--acc-2);
        text-shadow: 2px 2px 25px black;
        background-color: var(--dimmer-2);
    }
    .pdiv {
        font-size: 0.7rem;
        background-color: var(--dimmer-2);
        padding: .2em 3.8em;
        text-align: center;
        text-shadow: 2px 2px 25px black;
        height: 100%;
        color: var(--bg);
        overflow: scroll;
        border-top: 1px solid var(--acc-2);
        border-bottom: 1px solid var(--acc-2);    
    }
}


