:root {
    /* --- Colors --- */
    --prime: #263138;
    --sec: #8b98a2;
    --sec-2: #303436;
    --acc-1: #00bfff;
    --acc-2: #ff4500;
    --acc-3: rgb(230, 121, 31);
    --text: #bdc4ca;

    --bg: #cfd8dc;
    --dimmer: rgba(0, 0, 0, 0.95);
    --dimmer-2: rgba(0, 0, 0, 0.75);
    --dimmer-3: rgba(0, 0, 0, 0.55);
    /* --- Values --- */
    --b-radius: 2px;
    --bg-color: rgba(209, 205, 21, 0.967);
    /*   Fonts
      font-family: 'Bodoni Moda', serif;
      font-family: 'Merriweather', serif;
      font-family: 'Montserrat', sans-serif;

     */
}
.body {
    color: var(--text);
    background-color: var(--prime);
    font-family: 'Montserrat', sans-serif;

}
.main {
    position: relative;
    min-height: 100vh;
    padding: .6em;
}
a {
    text-decoration: none;
    color: var(--text);
  }
  a:hover {
    color: var(--acc-2);
}

button {
    position: relative;
    display: inline-block;
    padding: 16px 28px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--prime-2);
    text-align: center;
    text-decoration: none;
    background-color: var(--acc-1);
    /* border-radius: 40px; */
    overflow: hidden;
    border: none;
    z-index: 1;
  }
  
  button:before {
    transition: 1s;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  button:hover:before {
    width: 300px;
    height: 300px;
    opacity: 0.4;
    transition: all 0.5s ease-out;
  }
  
  button:hover {
    background-color: var(--acc-2);
    color: #202960;
    transition: all 0.5s ease-out;
  }
  
  button:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #255ea4;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
  
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }

.section_title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: .2em;
    width: 50vw;
    margin: .2em auto;
    margin-bottom: .4em;
    border: 2px solid var(--acc-2);
    clip-path: polygon(4% 0, 96% 0, 100% 100%, 0% 100%);}
  
  .active {
    background-color: var(--dimmer-2);
    color: red;

  }


/* Media Query */
@media (max-width:600px) {


  .body {
    color: var(--text);
    background-color: var(--prime);
    font-family: 'Montserrat', sans-serif;

  }
  .main {
    position: relative;
    min-height: 100vh;
    padding: .2em .8em;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: var(--acc-2);
  }

    .section_title {
      text-align: center;
      font-size: 0.8rem;
      font-weight: bold;
      padding: .1em;
      width: 80vw;
      margin: .2em auto;
      margin-bottom: .4em;
      border: 1px solid var(--acc-2);
      clip-path: polygon(4% 0, 96% 0, 100% 100%, 0% 100%);}
    
  .active {
    background-color: black;
    color: var(--acc-2);

  }

}