
.contacts {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 80vh;
    width: 100vw;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/public/images/backgrounds/background-05.jpg');
  background-size: cover;
  height: 6em;
}
.title {
}

.right_card {
  width: 50%;
  height: 100%;
  border-radius: var(--b-radius);
  overflow: hidden;
  
}
